<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Visualization Platform</title>
		<link rel="stylesheet" type="text/css" href="content/css/datavis.css" media="screen"/>
		<script type="text/javascript">
			var chart;
			$(document).ready(function() {
				
				symbol = '{{ symbol }}';
				var xValue = [];
				var yValue = [];

				{% for time in period %}
				xValue.push(parseFloat({{ time }}));
				{% endfor %}

				{% for fft in power %}
				yValue.push(parseFloat({{ fft }}));
				{% endfor %}
				
				var data = [];
				for (var i = 0; i < xValue.length; i++) { 
					data.push([xValue[i],yValue[i]]);
				}
				
				chart = new Highcharts.StockChart({
					chart: {
						renderTo: 'fftcontainer',
						panning: false,
						zoomType: 'x'
					},
					title: {
						text: 'Fast Fourier Transform'
					},
					subtitle: {
						text: symbol
					},
					credits: {
				        enabled: false
				    },
				    legend: {
				        enabled: false
				    },
				    scrollbar: {
			            enabled: false
			        },
				    navigator: {
			            enabled: false
			        },
					rangeSelector: {
						enabled: false,
						inputEnabled: false
					},
					xAxis: {
						type: 'linear',
						min: 0,
						max: 400,
						startOnTick: false,
						endOnTick: false,
						labels: {
		                    formatter: function(){
		                        return this.value;
		                    }
		                },
				        title: {
				            enabled: true,
				            text: '<b>Period</b> (Days)',
				            style: {
				                fontWeight: 'normal'
				            }
						}
					},
					yAxis: {
						title: {
							text: 'FFT^2'
						},
						min: 0,
						startOnTick: false,
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					},
					tooltip: {
						formatter: function() {
				                return this.x +' days';
						},
						yDecimals: 1
					},
					plotOptions: {
						spline: {
							lineWidth: 2,
							states: {
								hover: {
									lineWidth: 2
								}
							},
							marker: {
								enabled: false,
								states: {
									hover: {
										enabled: true,
										symbol: 'triangle-down',
										radius: 3,
										lineWidth: 1
									}
								}	
							},
						}
					},
					series: [{
						name: 'FFT',
						data: yValue,
						pointStart: 1,
		                pointInterval: 1
						}]
				});
			});
		</script>
	</head>
	<body>
		<div id="fftcontainer" style="width: 1050px; height: 500px; margin: 0 auto"></div>
	</body>
</html>


