.button {
	padding:4px 7px;
	font-size:12px;
	color:#000;
	background-color:#eee;
	background-image:-webkit-gradient(linear, 0 0, 0 100%,
		color-stop(0, #fff),
		color-stop(0.05, #eee),
		color-stop(1, #bbb));
	text-shadow:0 1px 0 #f6f6f6;
	-webkit-border-radius:2px;
	border:1px solid #888;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);
}