body {
	padding: 10px;
}

table{
	margin:0;
	padding:0;
	font:bold 12px "Lucida Grande", Arial, sans-serif;
}

#status{
	width:50%;
	padding:10px;
	outline:none;
	height:36px;
}

.focusField{
	border:solid 2px #73A6FF;
	background:#EFF5FF;
	color:#000;
}

.idleField{
	background:#EEE;
	color: #6F6F6F;
	border: solid 2px #DFDFDF;
}

.button {
	padding:4px 7px;
	font-size:12px;
	color:#000;
	background-color:#eee;
	background-image:-webkit-gradient(linear, 0 0, 0 100%,
		color-stop(0, #fff),
		color-stop(0.05, #eee),
		color-stop(1, #bbb));
	text-shadow:0 1px 0 #f6f6f6;
	-webkit-border-radius:2px;
	border:1px solid #888;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);
}

.tooltip {
	display:none;
	background:transparent url(/content/img/black_arrow.png);
	font-size:11px;
	font:bold 11px "Lucida Grande", Arial, sans-serif;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;
}

#tltip img {
	border:0;
	cursor:pointer;
	margin:0 8px;
}

.projection {
	font-size:13px;
	font:bold 13px "Lucida Grande", Arial, sans-serif;
	color:#993300;
}